/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Navbar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_header__y9z_U {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  /* background-color: aquamarine; */
}

.Navbar_logo__eWcuJ {
  display: flex;
  flex-direction: column;
}

.Navbar_logo__eWcuJ h1 {
  margin: 0;
  font-size: 2rem;
}

.Navbar_logo__eWcuJ span {
  font-size: 1rem;
  color: #555;
}

.Navbar_navItems__JBTiM {
  display: flex;
  gap: 2rem;
}

.Navbar_nav__j76Bw a {
  text-decoration: none;
  color: inherit;
}

.Navbar_navLink__0KDl6 {
  /* Additional styles for the My Profile link if needed */
}

.Navbar_loginButton__HiR0d {
  /* Additional styles for the Login button if needed */
} 
